body{
    box-sizing: border-box;
    background-color: aqua;
}

.main{
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
    border-radius: 20px;
    width:300px;
    height:400px;
    margin-top: 10%;
    margin-left:40%;
    padding:10px;
    background-color:palegreen;
    border:2px solid black;}
.rows{
display:flex;
flex-direction: row;
column-gap: 20px;
row-gap: 10px;
}
button{
    height:40px;
    width:40px;
    border:2px solid black;
    border-radius:10px ;
}
button:hover{
    background-color: aqua;
}
#txt{
    width:250px;
    height:40px;
    border:2px solid black;
    border-radius:10px ;
    text-align: right;
    font-size: medium;
    opacity: 2px;
}